<!DOCTYPE html>
<html>
<head>
    <title>Drupal Theme</title>
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="materialize.css">
</head>
<body>
        <div class="navbar topbar grey darken-4 z-depth-2 white-text">
            <div class="left">
                    <div class="logo">DROOGED</div>
            </div>
            <div class="right">
                <a href="https://g.co/gci">GCI</a>
                <a href="https://g.co/gsoc">GSoC</a>
            </div>
        </div>
    <header class="grey" role="navigation">
        <h1 class="blue-grey-text animated bounce slow infinite">DROOGED</h1>
        <h3 class="grey-text text-lighten-3">A site for Drupal's GCI/GSoC archives</h3>
        <div>
            <a href="https://g.co/gci" class="header-button blue-grey white-text z-depth-3 animated fadeInLeft">Google Code-in</a>
            <a href="https://g.co/gsoc" class="header-button blue-grey white-text z-depth-3 animated fadeIn slow">Google Summer of Code</a>
            <a href="https://drupal.org" class="header-button blue-grey white-text z-depth-3 animated fadeInRight">Drupal</a>
        </div>
    </header>


    <main class="grey darken-3 grey-text" role="main">
        <div class="container grey darken-4 grey-text z-depth-4 hoverable">
            <h5>What is Drupal?</h5>
            <div class="icon-medium drupal"></div>
            <div class="container">
                Drupal is content management software. It's used to make many of the websites and applications you use every day. Drupal has great standard features, like easy content authoring, reliable performance, and excellent security. But what sets it apart is its flexibility; modularity is one of its core principles. Its tools help you build the versatile, structured content that dynamic web experiences need.
            </div>  
        </div>
        <div class="container grey darken-4 grey-text z-depth-4 hoverable">
            <h5>What is Google Code-in</h5>
            <div class="icon-medium gci"></div>
            <div class="container">
                Pre-university students ages 13 to 17 are invited to take part in Google Code-in: Our global, online contest introducing teenagers to the world of open source development. With a wide variety of bite-sized tasks, it’s easy for beginners to jump in and get started no matter what skills they have.
            </div>  
        </div>
        <div class="container grey darken-4 grey-text z-depth-4 hoverable">
            <h5>What is Google Summer of Code?</h5>
            <div class="icon-medium gsoc"></div>
            <div class="container">
                Google Summer of Code is a global program focused on bringing more student developers into open source software development. Students work with an open source organization on a 3 month programming project during their break from school.
            </div>  
        </div>
        <div class="container grey darken-3 grey-text z-depth-2">
        <h3 class="blue-text center">Google Code-in Stats</h3>
        <h5>2017 &RightArrow;</h5>
        <div class="center white-text"><h5>Winners</h5></div>
        <table>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon center student z-depth-2"></div>Sheik Meeran Ashmith Kifah</a></h6></td>
        <td class="center"><h6><a href="https://github.com/Tanvish"><div class="icon center student z-depth-2"></div>Tanvish Jha</a></h6></td>
        </table>
        <div class="white-text center"><h5>Finalists</h5></div>
        <table>
        <td class="center"><h6><a href="https://github.com/ragasirtahk"><div class="icon student center z-depth-2"></div>Sagar Khatri</a></h6></td>
        <td class="center"><h6><a href="https://github.com/kg-kartik"><div class="icon student center z-depth-2"></div>Kartik Goel</a></h6></td>
        <td class="center"><h6><a href="https://github.com/tan33sh"><div class="icon student center z-depth-2"></div>Tanish Kapur</a></h6></td>
        </table>
        </div>

        <div class="container grey darken-3 grey-text z-depth-2">
        <h5>2016 &RightArrow;</h5>
        <div class="center white-text"><h5>Winners</h5></div>
        <table>
        <td class="center"><h6><a href="https://github.com/utkarsh-dixit"><div class="icon student center z-depth-2"></div>Utkarsh Dixit</a></h6></td>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Dhanat Satta-awalo</a></h6></td>
        </table>
        <div class="center white-text"><h5>Finalists</h5></div>
        <table>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Heervesh Lallbahadur</a></h6></td>
        <td class="center"><h6><a href="https://github.com/neerajp99"><div class="icon student center z-depth-2"></div>Neeraj Pandey</a></h6></td>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Ashmith Kifah SHEIK MEERAN</a></h6></td>
        </table>
        </div>
        <div class="container grey darken-3 grey-text z-depth-2">
        
        <h5>2015 &RightArrow;</h5>
        <div class="center white-text"><h5>Winners</h5></div>
        <table>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Suryansh Pratap Singh</a></h6></td>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Sudhanshu Gautam</a></h6></td>
        </table>
        <div class="center white-text"><h5>Finalists</h5></div>
        <table>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Phillip Llewellyn</a></h6></td>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Akshaykumar Kalose</a></h6></td>
        <td class="center"><h6><a href="#!" class="grey-text"><div class="icon student center z-depth-2"></div>Petr Martyno</a></h6></td>
        </table>
        </div>
        <div class="container white-text"><h5><a href="https://google-melange.com/archive/gci">Wanna go more back in time?</a></h5></div>

        <div class="container grey darken-3 grey-text z-depth-2">
            <h3 class="center yellow-text">Google Summer of Code Stats</h3>
            <table class="collection">
                <tr>
                <td><h5 class="white-text">Sr. no</h5></td>
                <td><h5 class="white-text">School</h5></td>
                <td><h5 class="white-text">Country</h5></td>
                <td><h5 class="white-text">No. of students selected</h5></td>
                </tr>
                <tr>
                <td><h6>1</h6></td>
                <td><h6>University of Moratuwa</h6></td>
                <td><h6>Sri Lanka</h6></td>
                <td><h6>320</h6></td>
                </tr>
                <tr>
                <td><h6>2</h6></td>
                <td><h6>International Institute of Information Technology, Hyderabad</h6></td>
                <td><h6>India</h6></td>
                <td><h6>252</h6></td>
                </tr>
                <tr>
                <td><h6>3</h6></td>
                <td><h6>University POLITEHNICA of Bucharest</h6></td>
                <td><h6>Romania</h6></td>
                <td><h6>155</h6></td>
                </tr>
                <tr>
                <td><h6>4</h6></td>
                <td><h6>Birla Institute of Technology and Science, Pilani - Goa campus</h6></td>
                <td><h6>India</h6></td>
                <td><h6>110</h6></td>
                </tr>
                <tr>
                <td><h6>5</h6></td>
                <td><h6>Birla Institute of Technology and Science, Pilani - Pilani campus</h6></td>
                <td><h6>India</h6></td>
                <td><h6>116</h6></td>
                </tr>
                <tr>
                <td><h6>6</h6></td>
                <td><h6>Indian Institute of Technology, Bombay</h6></td>
                <td><h6>India</h6></td>
                <td><h6>75</h6></td>
                </tr>
                <tr>
                <td><h6>7</h6></td>
                <td><h6>Indian Institute of Technology, Kharagpur</h6></td>
                <td><h6>India</h6></td>
                <td><h6>92</h6></td>
                </tr>
                <tr>
                <td><h6>8</h6></td>
                <td><h6>Indian Institute of Technology, Roorkee</h6></td>
                <td><h6>India</h6></td>
                <td><h6>57</h6></td>
                </tr>
                <tr>
                <td><h6>9</h6></td>
                <td><h6>Indraprastha Institute of Information Technology Delhi</h6></td>
                <td><h6>India</h6></td>
                <td><h6>33</h6></td>
                </tr>
                <tr>
                <td><h6>10</h6></td>
                <td><h6>Amrita School of Engineering, Amrita University, Amritapuri Campus</h6></td>
                <td><h6>India</h6></td>
                <td><h6>33</h6></td>
                </tr>
                <tr>
                <td><h6>11</h6></td>
                <td><h6>Indian Institute of Technology Guwahati</h6></td>
                <td><h6>India</h6></td>
                <td><h6>38</h6></td>
                </tr>
                <tr>
                <td><h6>12</h6></td>
                <td><h6>University of Buea</h6></td>
                <td><h6>Cameroon</h6></td>
                <td><h6>26</h6></td>
                </tr>
                <tr>
                <td><h6>13</h6></td>
                <td><h6>Delhi Technological University</h6></td>
                <td><h6>India</h6></td>
                <td><h6>60</h6></td>
                </tr>
                <tr>
                <td><h6>14</h6></td>
                <td><h6>Indian Institute of Technology (BHU) Varanasi</h6></td>
                <td><h6>India</h6></td>
                <td><h6>37</h6></td>
                </tr>
                <tr>
                <td><h6>15</h6></td>
                <td><h6>TU Munich</h6></td>
                <td><h6>Germany</h6></td>
                <td><h6>45</h6></td>
                </tr>
            </table>
            <div><a href="https://en.wikipedia.org/wiki/Google_Summer_of_Code">Data taken from wikipedia.org</a></div>
        </div>
        <div class="container">
            {{ page.content }}
        </div>
        <div class="container hoverable">
            <h3>Visit the <a href="https://drupal.org/planet">Drupal Planet</a></h3>
            <h6>See what's new!</h6>
        </div>
        <div class="container hoverable">
            <h3>Visit the <a href="https://drupal.org/planet">Drupal's official blog</a></h3>
            <h6>Look for the announcements and get yourself updated</h6>
        </div>

        </main>
    

    <footer role="contentinfo">
        <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About this site</h5>
                <p class="grey-text text-lighten-4">This site is made by Aniket Dwivedi for 
                Drupal participation in Google Code-in and Google Summer of Code as a task in 
                Google Code-in 2018.
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact me</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="mailto:dwi.aniket@gmail.com"><div class="icon googleplus"></div><div class="logo">gMail</div></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://instagrm.com/aniketdvd"><div class="instagram icon"></div><div class="logo">Instagram</div></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><div class="facebook icon"></div><div class="logo">Facebook</div></a></li>
                  <li><a class="grey-text text-lighten-3" href="tel: +917860044604"><div class="icon whatsapp"></div><div class="logo">Text on Whatsapp!</div></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/aniketdwivedi15"><div class="icon twitter"></div><div class="logo">Twitter</div></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright darken-3 grey">
            <div class="container">
            &copy; 2o18 Aniket Dwivedi
            <a class="grey-text text-lighten-4 right" href="">Visit GSoC/GCI archives </a>
            </div>
          </div>
        </footer>
    </footer>
</body>
</html>
